*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
    position: relative;
}
header{
    background-color: black;
    color: white;
}
h2{
    color: #fff;
}
li{
    list-style: none;
}
.navbar{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: black;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.menu-link{
    transition: .4s ease;
    color: #fff;
}
.menu-link:hover{
    color: dodgerblue;
}
.hamberger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #fff;
}
@media(max-width: 768px){
    .hamberger{
        display: block;
    }
    .hamberger .active .bar:nth-child(2){
        opacity: 0;
    }
    .hamberger .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamberger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left: 100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        background-color: black;
        text-align: center;
        transition: .4s;

    }
    .menu-link{
        margin: 15px 0;
    }
    .nav-menu.active{
        left: 0;
    }

}